@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
body {
  background-color: white;
  color: white;
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100;
}
h1 {
  color: slategray;
  font-weight: 100;
  text-align: center;
  padding-bottom: 0.2em;
  border-bottom: 1px solid silver;

}
form {
  width: 552px;
  margin: 40px auto;
}
fieldset {
  margin: auto;
  width: 470px;
  height: auto;
  border: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  background: #fdfdfd;
  padding: 40px;
  background-color: lightgray;
}
div {
  padding: 0 0 40px 0;
}
label {
  float: left;
  width: 200px;
  font-size: 1em;
  color: slategray;
}
label.mid {
  line-height: 40px;
}
input,
select {
  background: coral;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  width: 240px;
  vertical-align: middle;
}
input:hover,
select:hover,
textarea:hover {
  border: 2px solid grey;
}
input:focus,
select:focus,
textarea:focus {
  border-color: silver;
  outline: none;
}
select {
  float: left;
  margin-bottom: 40px;
  appearance: none;
  width: 260px;
  border-radius: 0;
}
input.checkbox,
input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}
input.button {
  width: 270px;
  height: 40px;
  border: 0px solid #fff;
}
textarea {
  width: 240px;
  height: 200px;
  padding: 10px;
  background: coral;
  border: 2px solid #fff;
  color: #fff;
}
input.submit {
  float: left;
  margin-left: 200px;
  width: 100px;
  height: 40px;
  color: #fff;
}
input.submit:hover {
  background: silver;
  background: -webkit-linear-gradient(#1d9676, #01caa7);
  background: -moz-linear-gradient(#1d9676, #01caa7);
  background: -o-linear-gradient(#1d9676, #01caa7);
  background: -ms-linear-gradient(#1d9676, #01caa7);
  background: linear-gradient(#1d9676, #01caa7);
}
:-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
}
.welcome {
  background-color: slategray;
  margin-top: 1em;
  margin-bottom: 2em;
}
video {
  margin-left: 20%;

}
.site,
h2 {
  color: slategray;
  text-size: 0.2em;
  font-weight: 100;
}
.canvas {
  border 1px solid red;
  float: left;
}
